<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Refund Portal</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>

    <div class="container">
        <h2 align="center">Refund Application Portal</h2>

        <!-- The search button exists but until we have the data it doesn't actually do anything  -->

        <form class="form-inline my-2 my-lg-0" align="center">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>

        <!-- This is just the navigation bar for each tab don't need to mess with these (please)  -->

        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#home">Home</a></li>
            <li><a data-toggle="tab" href="#Applications">Applications</a></li>
            <li><a data-toggle="tab" href="#FinancePeople">Finance People</a></li>
            <li><a data-toggle="tab" href="#Completed">Completed</a></li>
        </ul>

        <!-- Now all we need to do is take the data from the database and render it into the tables -->

        <div class="tab-content">
            <div id="home" class="tab-pane fade in active">
                <h3>Getting Started.</h3>
                <p>A brief intro into the application and the tabs show different parts of information.</p>
            </div>
            <div id="Applications" class="tab-pane fade">
                <h3>Pending Applications</h3>
                <p>Applications pending will go here.</p>
            </div>
            <div id="FinancePeople" class="tab-pane fade">
                <h3>Finance People</h3>
                <p>I dont know what this is actually for</p>
            </div>
            <div id="Completed" class="tab-pane fade">
                <h3>Completed</h3>
                <p>Completed applications are moved from Pending Applications to here.</p>
            </div>
        </div>
    </div>


</body>

</html>